@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--View Appointment Page: This page will list out all of the appointments that have been made-->
@*@model IEnumerable<JoinDataViewModel>*@
<!--SignUpPage: This will display the available times. Once they select a time they are routed to a form that has the date info set-->
<!--This is an example of you can display all of the seed data-->
@*@foreach (var item in Model)
    {
        <div class="card card-outline-primary m-1 p-1">
            <div class=“bg-faded p-1">
                <h3>@item.appointmentVm.BeginTime</h3>

                <p>@item.signupVm.GroupName</p>
            </div>
        </div>*@

@model IEnumerable<IS413Project1.Models.Signup>
<!--SignUpPage: This will display the available times. Once they select a time they are routed to a form that has the date info set-->
<!--This is an example of you can display all of the seed data-->


@foreach (var x in Model)
{
<div class="card card-outline-primary m-1 p-1">
    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        <h4>
            @x.BeginTime
        </h4>
    </a>
    <!--Made a collapsable pill so that all the information is not instantly clicked on but it can be seen if you click on one to open-->
    <div class="row">
        <div class="col">
            <!--Make this collapsable so that you have to have the inforamtion appear by clicking on the book title-->
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <p>Group Name: @x.GroupName</p>
                    <p>Group Size: @x.GroupSize</p>
                </div>
            </div>
        </div>
    </div>
</div>
        }
