@model AppointmentsListViewModel
<!--available: This will display the available times. Once they select a time they are routed to a form that has the date info set-->
<!--This is an example of you can display all of the seed data-->
@{
    List<string> myList = new List<string>();
    //var myarray = Array.Empty<string>();
}

@foreach (var x in Model.Available)
{
    //if the name of the week is not in the card, it will make a colapsable card for it.
    @if (myList.Contains(x.Weekday) == false)
    {
            <div class="container text-left">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title p-3">
                                <a data-toggle="collapse" @*href="#@x.AppointmentId"*@>@x.Weekday</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        myList.Add(x.Weekday);
    }
//this is to make each appointment and card

                    @*<div class="container text-left">
                        <div class="panel-group">
                            <div class="panel panel-default">*@
                                <div class="panel-heading">
                                    <h4 class="panel-title p-3">
                                        <a data-toggle="collapse" href="#@x.AppointmentId">Click here to reserve: @x.BeginTime</a>
                                    </h4>
                                </div>
                                <div id="@x.AppointmentId" class="collapse">
                                    <div class="panel-body">
                                        <p>Start Time: @x.BeginTime</p>
                                        <p>Description: @x.Description</p>
                                    </div>
                                    <form method="post" asp-action="AvailAppointments">
                                        <input type="hidden" name="appointmentId" value="@x.AppointmentId" />
                                        <span class="card-text p-1">
                                            <button class="btn-primary align-content-center" type="submit">Book Appointment</button>
                                        </span>
                                        <p>   </p>
                                    </form>
                                </div>
                            @*</div>
                        </div>
                    </div>*@

                    <br />
                    

                    }
